
*{ -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*desktop*/

.main-app{
    background-color:hsl(216, 44%, 19%) ;
    height:100vh;
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

.nftcard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    height: 95%;
    padding-right: 10px;
    width:29%;
    background-color: hsl(215, 60%, 24%);
}


figure{
    height:85%;
    width: 85%;
    margin-bottom: -20px;
    padding-left:20px ;
    padding-top: 30px;
    
 
}

figure>img{
    
    height:90%;
    width:95%;
    border-radius: 10px;
}



figcaption{
    color:hsl(0, 0%, 100%);
    margin-left:-3% ;
    

}


figcaption:hover{
    color: hsl(178, 100%, 50%);
}




#description{
    display: grid;
    grid-template-areas:
    "p p"
    "ETH days";
}




#description>p{
    color:hsl(215, 51%, 70%);
    padding-left: 12%;
    padding-bottom: 15px;
   
}



.ETH,.days{
    
display: inline-flex;
column-gap: 5px;

}


.ETH{
    grid-area: ETH;
    color:hsl(178, 100%, 50%);
    padding-left: 35px;

}

.days{
    grid-area: days;
    color:hsl(215, 51%, 70%);
    padding-right: 20px;
}


#footer{
    display: inline-flex;
    align-self: flex-start;
    color: hsl(215, 51%, 70%);
    padding-left: 15px;
    column-gap:10px;
    padding-bottom: 50px;
}

hr{
    border: solid  hsl(215, 51%, 70%);
    border-top: 2px;
    width:95%;
}


.creator-img{
    height: 50px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}

.creator{
    color: hsl(0, 0%, 100%);
}


.creator:hover{
    color:hsl(178, 100%, 50%);
}


/*mobile*/
@media screen and (max-width:400px) {
    
}